body {
  margin: 0;
}
.search {
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 40px;
  width: 550px;
  height: 50px;
}
.searchBtn {
    padding-top: -7px;
    font-size: 35px;
    width: 160px;
    height: 52px;
}
h1 {
  margin-bottom: 70px;
  margin-top: 50px;
  font-family: 'Inconsolata', sans-serif;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 70px;
  margin-left: 10%;
}
.orderH3 {
  border-bottom: 1px solid gray;
}
p {
  text-align: center;
  font-size: 28px;
}
.NavBar {
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e2e2e2;
}
.orderUL {
  margin-left: 150px;
  width: 700px;
  list-style-type: none;
  font-size: 25px;
}
.custLI {
  border-bottom: 1px solid gray;
}
.prodLI {
  margin: 15px 15px;
}
span {
  display: inline-block;
}
li {
  float: left;
}
li a {
  border: 1px solid #828282;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
  padding: 25px 25px;
  width: 268px;
}
li a:hover {
  color: white;
  background-color: #828282;
}
h1 {
  text-align: center;
}
.cmsAddForm {
  margin-left: 150px;
  font-size: 45px;
}
.cmsAddForm input{
  margin-left: 25px;
  font-size: 33px;
  width: 400px;
  height: 50px;
}
.newProdBtn {
  font-size: 25px;
  width: 250px;
  height: 50px;
  margin-left: 100px;
}
table {
    margin-top: 1%;
    margin-left: 1%;
    text-align: center;
    width: 98%;
    border: 1px solid black;
}
table th {
    text-align: center;
  padding: 8px;
  font-size: 35px;
  border: 1px solid black;
}
table td {
  padding: 8px;
  font-size: 25px;
    border: 1px solid black;
}
#OKStatus {
    font-family: 'Inconsolata', sans-serif;
    font-size: 70px;
    color: black;
    margin-right: 450px;
    margin-top: 500px;
    display: block;
    float: right;
}
#searchList {
    margin-left: 10px;
}
.editBtn {
    font-size: 36px;
    background: none;
    border: none;
    width: 70px;
    height: 50px;
}
.removeBtn {
    font-size: 36px;
    background: none;
    border: none;
    width: 130px;
    height: 50px;
}
